
.panel-heading {
    text-align: center;
    font-family: Kalam;
}
.details {
    text-align: center;
}
h1 {
    text-align: center;
    color: darkgoldenrod;
}
.join {
    float: right;
}
.hood {
    font-family: Bad Script;
}
.create {
    color: white;
}
body {
    background-image: url('https://images.unsplash.com/photo-1576208861541-335784ba66c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
    background-size: 1290px 1000px;
}
