.profile {
    text-align: center;
}
.panel-heading {
    text-align: center;
    font-family: Kalam;
}
.details {
    text-align: center;
}
h1 {
    text-align: center;
    color: darkgoldenrod;
}
.join {
    float: right;
}
.hood {
    font-family: Bad Script;
}
.edit {
    text-align: center;
}