{%extends "business/base.html"%}
{% load bootstrap3 %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="row businesses">
      {% for business in business %}
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
          <img src="{{business.image.url}}" class="img-responsive" width="1000px" alt="business">
          <div class="panel-body business-details">
            <div class="text-center">
              <p><strong><em>Name:{{business.name}}</em></strong></p>
              <p><strong><em>Neighborhood:{{business.neighborhood}}</em></strong></p>
              <p><strong><em>{{business.email}}</em></strong></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr>
    <div class="row business">
      <h3 class="text-center">Add Business</h3>
      <div class="col-md-4"></div>
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body form">
            <form  action="{%url 'create-business' neighborhood.id %}" method="post" enctype="multipart/form-data">
              {%csrf_token%}  
              {% bootstrap_form form%}
              <input type="submit" class="btn btn-success btn-lg" value="Create">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

   

