{%extends 'base.html'%} 
{% block content %}
<div class="container">
    <div class="row">
        {% if business%}
          <h2>Found {{ business|length }} item of searched term {{message}}</h2>
        {% else %}
          <h2> Found 0 items for the search term {{message}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if business %}
        {% for business in business %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <p><strong><em>{{business.name}}</em></strong></p>
                        <p><strong><em>{{business.neighborhood}}</em></strong></p>
                        <p><strong><em>{{business.email}}</em></strong></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
